.header{
    width: 100%;
    height: 60px;
    display: flex;
    /* position: fixed; */
    justify-content: space-between;    
}
.tittle > p, .menu > li > p{
    line-height: 60px;
}
.tittle{
    width: 12%;
    font-size: 25px;
}
.menu{
    display: flex;
    gap : 40px;
}