.projectCard{
    padding: 30px;
}
.projectCard:hover{
    background-color: #f2f3f7;
    box-shadow: 0 2px 2rem hsla(0,0%,80%,.8); 
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50px;
    transform: scale( 1.025 );
    transition: transform 0.1s ease-in-out;
}
.projectCard:not(:hover){
    transition: transform 0.1s ease-in-out;
}
.projectCardTitle{
    margin-bottom: 40px;
}
.projectCardTitleMain{
    font-size: 25px;
    font-weight: bold;
}
.projectCardTitleSub{
    font-size: 15px;
    color: gray;
}
.projectCardBody{
    display: flex;
    gap: 15px;
    width: 100%;
}
.projectCardBodyImageArea{
    width: 45%;
    height: 20%;
    position: relative;
    margin-top: 20px;
}
.projectCardBodyImage{
    width: 90%;
    border-radius: 20px;
    margin: 20px;
}
.eventBox{
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    font-size: 14px;
    left: 25%;
    top: 45%;
    background-color: #ebebf0;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.visible {
    opacity: 0.85;
}
.projectCardBodyDetail{
    width: 50%;
}
.projectCardBodyDetailContext{
    margin-bottom: 20px;
}
.projectCardBodyDetailContext :first-child{
    margin-bottom: 20px;
}
.projectCardBodyDetailFunction{
    line-height : 25px;
    border-top: 0.5px solid #000;
    padding-top: 20px;
}   
.detailFunction{
    display: flex;
    margin-bottom: 15px;
}
.detailFunctionCategory{
    font-weight: bold;
    width: 30%;
}
.detailFunctionCategory > span{
    margin-left: 5px;
}
.detailFunctionExplain{
    width: 70%
}
.detailFunctionExplain > a{
    color: rgb(137, 138, 159);
    word-wrap: break-word;
}
.detailFunctionExplain > a:hover{
    text-decoration-line : underline;
}