.skillCard{
    width: 100%;
}
.skillName{
    font-size: 18px;
    font-weight: bold;
    text-align : left;
}
.progressBar{
    width: 100%;
    height: 10px;
    margin: 20px 0;
    background-color: rgb(234, 229, 229);
    border-radius: 20px;
    position: relative;
}
.currentBar{
    width: 70%;
    height: 10px;
    position: absolute;
    background-color: green;
    border-radius: 20px;
}
.barCircul{
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    background-color: green;
    left: 98%;
    top: -3px;
}
.barPercent{
    position: absolute;
    top: -25px;
    left: -15px;
    color: green;
    font-size: 15px;
    font-weight: bold;
}