.skillCard{
    width: 100%;
}
.barPercent{
    position: absolute;
    top: -25px;
    left: -15px;
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.skillDetail{
    margin-top: 10px;
}