.title{
    width :30%;
    font-size: 35px;
    font-weight: bold;
    margin : 0px auto 30px;
    padding-top: 100px;
    border-bottom: 0.5px solid #2f3134;
}
.titleText{
    margin-bottom: 15px;
}